{#
 # Viewing costs
 #}
{% extends '_layouts/default.html' %}
{% set cssURL = '/css/transaction.css' %}


{% block content %}
<!-- Networks -->
<div class="networks-list-wrapper">
  <ul class="networks-list">
    {% for a_network in networks %}
    <li {% if a_network.name == network.name %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/n/{{ a_network.name }}">{{ a_network.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- The page header -->
<header class="main-content-header center">
  <h1>Calculate Cost of <span class="network-name">{{ network.name | capitalize }}</span> Transaction</h1>
</header>


<!--  Result -->
{% if result %}
<div class="result center notification-wrapper">
  {% if result.error %}{% set alert_class = 'danger' %}{% endif %}
  {% if result.success %}{% set alert_class = 'success' %}{% endif %}

  <div class="animated bounceIn">
    <div id="notification" class="alert alert-{{ alert_class }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% if result.error %}
          {{ result.message  }}
        {% elif result.success %}
        <p>It will cost you <span class="results-cost"><strong>KES. {{ result.cost }} /=</strong></span></p>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}


<!-- Tab panel for the transactions -->
<div id="input-panel"><div role="tabpanel" class="cost-panel">
  <!-- tabpanel.start -->

  {% macro active(transaction, first) %}
    {% if (body.transactionType == transaction.name) or (first and not body) %}active{% endif %}
  {% endmacro %}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for transaction in network.transactions %}
    <li role="presentation" class="{{ active(transaction, loop.first) }}"><a href="#{{ transaction.name }}" aria-controls="home" role="tab" data-toggle="tab">{{ transaction.name | capitalize }}</a></li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    {% for transaction in network.transactions %}
    <!-- transaction.start -->

    <div role="tabpanel" class="tab-pane {{ active(transaction, loop.first) }}" id="{{ transaction.name }}">
      <form action="{{ __path }}" method="post">

        <!-- Transaction type -->
        <input type="hidden" name="transactionType" value="{{ transaction.name }}" />

        <!-- Transaction amount -->
        {% if transaction.amount == false %}
        <input type="hidden" name="amount" value="5000" />
        {% else %}
        <div class="form-group row">
          <label for="amount" class="col-xs-2">Amount</label>
          <div class="col-xs-10">
              <input type="number" name="amount" value="{{ body.amount or 5000 }}" class="form-control" >
          </div>
        </div>
        {% endif %}

        <!-- Transaction transactor -->
        <div class="form-group row">
          <label for="transactor" class="col-xs-2">Transactor</label>
          <div class="col-xs-10">
            <select class="form-control" name="transactor">
                {% for class in transaction.classes  %}
                <option {% if class.name == body.transactor %}selected="true"{% endif %} value="{{ class.name }}">{{ class.name }}</option>
                {% endfor %}
            </select>
          </div>
        </div>

        <!-- Submit button -->
        <div class="form-group row">
          <div class="col-xs-12">
            <input type="submit" value="Calculate" class="btn btn-primary pull-right"/>
          </div>
        </div>

      </form>
    </div>

    <!-- transaction.end -->
    {% endfor %}
  </div>
  <!-- tabpanel.end -->

</div></div>
{% endblock %}
