<footer class="site-footer row">
    <div class="col-xs-12 col-md-6 col-md-push-3 center">
        <p>Created by <a href="http://gmugo.in/">GochoMugo</a></p>
        <p>Copyright &copy; 2016 {{ author.name }}
            <a href="{{ site.author.url }}">{{ site.author.name }}</a>
        </p>

        <a href="https://github.com/forfuturellc/mmtc-ke/releases/tag/v{{ pkg.version }}">v{{ pkg.version }}</a>
        &mdash;
        <a href="{{ site.baseurl }}/tcs/">Terms and Conditions</a>
    </div>
</footer>
