{% macro table_id(transaction, class) %}table-{{ transaction.name | replace(" ", "-") }}-{{ class.name | replace(" ", "-") }}{% endmacro %}

{% macro class_active(class, first) %}{% if (class.name == body.transactor) or (first and not body) %}active{% endif %}{% endmacro %}


<form action="{{ __path }}" method="post"
      class="cost-calculation">

  <!-- Transaction type -->
  <input type="hidden" name="transactionType" value="{{ transaction.name }}" />

  <!-- Transaction amount -->
  {% if transaction.amount_input == false %}
  <input type="hidden" name="amount" value="5000" />
  {% else %}
  <div class="form-group row">
    <div class="col-xs-2 form-label">
      <label for="amount">Amount</label>
    </div>
    <div class="col-xs-10">
      <input type="number" name="amount" value="{{ body.amount or 5000 }}" class="form-control" >
    </div>
  </div>
  {% endif %}

  <div class="form-group row">
    <!-- Transaction transactor -->
    <div class="col-xs-2 form-label">
      <label for="transactor">Transactor</label>
    </div>
    <div class="col-xs-10">
      <select class="form-control select-class" name="transactor">
        {% for class in transaction.classes  %}
        <option data-table="#{{ table_id(transaction, class) }}" {% if (class.name == body.transactor) %}selected="true"{% endif %} value="{{ class.name }}">{{ class.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Submit button -->
  <div class="form-group row">
    <div class="col-xs-12">
      <input type="submit" value="Calculate" class="btn btn-primary pull-right"/>
    </div>
  </div>

</form>

<!-- List of all the ranges -->
<section>
  {% for class in transaction.classes %}
    <table class="table table-striped table-ranges {{ class_active(class, loop.first) }}" id="{{ table_id(transaction, class) }}">
      <thead>
        <th>Range</th>
        <th>Cost</th>
      </thead>

      <tbody>
        {% if transaction.amount_input == false %}
        <tr>
          <td>&infin;</td>
          <td>{{ class.amount }}</td>
        </tr>
        {% else %}
        {% for range in class.ranges %}
        <tr>
          {% macro rename_amount(amount) %}
            {% if amount == "-Infinity" %}0{% elif amount == "+Infinity" %}&infin;+{% else %}{{ amount }}{% endif %}
          {% endmacro %}

          <td>{{ rename_amount(range.low) }} - {{ rename_amount(range.high) }}</td>
          {% if range.amount == -1 %}
          <td>N/A</td>
          {% elif range.amount == -2 %}
          <td>{{ range.message or "Not found!" }}</td>
          {% else %}
          <td>{{ range.amount }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  {% endfor %}
</section>
