{#
 # Viewing costs
 #}
{% extends '_layouts/default.html' %}
{% set cssURL = '/css/network.css' %}
{% set scripts = [
  '/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js',
  '/js/engine.js',
  '/js/network.js',
  '/vendor/store-js/store.min.js'
] %}


{% block content %}
<script>
  window.network = {{ network | dump | safe }};
</script>


<!-- Networks -->
<div class="networks-list-wrapper">
  <ul class="networks-list">
    {% for a_network in networks %}
    <li {% if a_network.name == network.name %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/n/{{ a_network.name }}">{{ a_network.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- The page header -->
<header class="main-content-header center">
  <h1>Calculate Cost of <span class="network-name">{{ network.name | capitalize }}</span> Transaction</h1>
</header>


<!--  Result -->
<div class="result center notification-wrapper">
  {% if result %}
    {% if result.error %}{% set alert_class = 'danger' %}{% endif %}
    {% if result.success %}{% set alert_class = 'success' %}{% endif %}
  {% else %}
    {% set alert_class = 'noop' %}
  {% endif %}

  <div class="{% if result %}animated bounceIn{% else %}no-display{% endif %}">
    <div id="notification" class="alert alert-{{ alert_class }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="section-error">
          <strong>Error:</strong> <span class='text-error'>{{ result.message | capitalize }}</span>
        </div>
        <div class="section-success">
          <p>It will cost you <span class="results-cost"><strong>KES. <span class='text-cost'>{{ result.cost }}</span> /=</strong></span></p>
        </div>
    </div>
  </div>
</div>


<!-- Tab panel for the transactions -->
<!-- tabpanel.start -->
<div id="input-panel"><div role="tabpanel" class="cost-panel">

  {% macro active(transaction, first) %}
    {% if (body.transactionType == transaction.name) or (first and not body) %}active{% endif %}
  {% endmacro %}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for transaction in network.transactions %}
    <li role="presentation" class="{{ active(transaction, loop.first) }}"><a href="#panel-{{ transaction.name }}" aria-controls="home" role="tab" data-toggle="tab">{{ transaction.name | capitalize }}</a></li>
    {% endfor %}

    {% if network.ussd_codes %}
    <li role="presentation"><a href="#panel-ussd_codes" aria-controls="home" role="tab" data-toggle="tab">USSD Codes</a></li>
    {% endif %}

    <li role="presentation" class="pull-right"><a href="#panel-settings" aria-controls="home" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    {% for transaction in network.transactions %}
    <div role="tabpanel" class="tab-pane {{ active(transaction, loop.first) }}" id="panel-{{ transaction.name }}">
      {% include "_includes/transaction.html" %}
    </div>
    {% endfor %}

    <div role="tabpanel" class="tab-pane" id="panel-ussd_codes">
      {% include "_includes/ussd_codes.html" %}
    </div>

    <div role="tabpanel" class="tab-pane" id="panel-settings">
      <!-- Alert messages for settings -->
      <div id="alert-store" class="alert alert-danger no-display" role="alert">
        <small><strong>Sorry!</strong> Your settings will <strong>not</strong> be saved by your browser.</small>
      </div>
      <!-- The settings' switches -->
      <div class="row">
        <!-- setting: onclient -->
        <div class="col-xs-2 col-xs-offset-1">
          <input type="checkbox" data-setting="onclient" checked>
        </div>
        <div class="col-xs-8 col-xs-push-1">
          <p>Calculate on my browser</p>
        </div>
      </div>
    </div>

  </div>

</div></div>
<!-- tabpanel.end -->

<!-- more information -->
<div class="networks-meta">
  {% if network.meta.date_updated %}Data last updated on {{ network.meta.date_updated }}{% endif %}
  {% if network.meta.url %}
  <p>
    Get more information on {{ network.name }} at
    <a href="{{ network.meta.url }}">{{ network.meta.url }}</a>
  </p>
  {% endif %}
</div>
<!-- more-information.end -->
{% endblock %}
